:root {
    font-size: 16px;
    --color-prime: hsl(182, 98%, 35%);
    --color-primary: hsl(182, 98%, 40%);
    --color-secondary: hsl(170, 100%, 40%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply relative text-gray-100 bg-even;
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-prime);
    outline: 1px solid #2D3748;
}

::selection {
    @apply text-white bg-prime;
}

::-moz-selection {
    @apply text-white bg-prime;
}

main {
    @apply relative w-full h-screen overflow-auto;
}



.container {
    @apply px-4 sm:px-0 sm:max-w-md md:max-w-2xl 2xl:max-w-3xl;
}

.title {
    @apply text-3xl font-bold text-center text-white font-dosis leading-title md:text-4xl;
}

.subtitle {
    @apply tracking-widest text-center text-white font-dosis leading-title md:text-2xl;
}

.emphasis {
    @apply font-medium text-white md:text-xl leading-body font-fira;
}

.prime {
    @apply text-4xl md:text-5xl;
}
